body{

    font-family: 'Amatic SC';
    margin: 0;
    padding: 0;
    background-color: #9D4EDD;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
}

nav {
display: flex;
gap: 84px;
font-size: 30px;;
padding: 0 20px;

}

nav a{
    text-decoration: bold;
    text-transform: uppercase;
    font-size: 48;
    color: #FFCD6B;
}

.button{
    color: #FFCD6B;
    font-size: 30px;
}

.banner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/Group\ 3.png);
    background-position: center;
    background-size: cover;
    color: #fff;
    font-weight: 700;
}

.banner_o{
    background-color: #FF8500;
    padding: 10px 25px;
    border-radius: 30px;
    margin: 0;
    text-transform: uppercase;
    font-size: 40px;
}

.banner_p{
    background-color: #9D4EDD;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 0;
    text-transform: uppercase;
    font-size: 40px;
}

.cart{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.stepan{
    position: absolute;
    top: -20px;
    right: 0;
    background-color: #FFCD6B;
    color: black;
    padding: 2px 4px;
    border-radius: 4px;
}

.catalog{
    background-color: #FF8500;
    padding: 30px;
    border-top: 50px solid #CA761B;
}
.products{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    width: 100%;
}

.product{
    width: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 325px;
}

.product_img{
    background-color: #fff;
    width: 100%;
}

.product_name{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.product_oldp{
    font-size: 24px;
    font-weight: bold;
    text-decoration: line-through;
    color: gray;
    margin: 0;
}

.product_price{
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin: 0;
}



.catalog_title{
    font-size: 48px;
    text-align: center;
    margin-top: 0;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3C096C;
}

.pronas_title{
    font-size: 48px;
    text-align: center;
    margin-top: 0;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3C096C;
}

.pronas_text{
    font-size: 36px;
    color: #ffffff;
    text-align: center;
}

.pronas{
    background-color: #FF8500;
    border-top: 50px solid #CA761B;
}

.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding-top: 50px;
}

.contact_text{
    font-size: 35px;
    font-weight: bold;
}

.contact_title{
    font-size: 48px;
    text-align: center;
    margin-top: 0;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3C096C;
}

.contact_img{
    margin: 15px;
    width: 40px;
}

.footer_text{
    color: #FF8522;
    font-size: 40px;
    font-weight: bold;
}