body{

    font-family: 'Amatic SC';
    margin: 0;
    padding: 0;
    background-color: #9D4EDD;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #9D4EDD;
}

nav {
display: flex;
gap: 84px;
font-size: 30px;;
padding: 0 20px;

}

nav a{
    text-decoration: bold;
    text-transform: uppercase;
    font-size: 48;
    color: #FFCD6B;
}

.button{
    color: #FFCD6B;
    font-size: 30px;
}

.banner{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/Group\ 3.png);
    background-position: 0 30px;
    background-size: cover;
    color: #fff;
    font-weight: 700;
}

.banner_o{
    background-color: #FF8500;
    padding: 10px 25px;
    border-radius: 30px;
    margin: 0;
    text-transform: uppercase;
    font-size: 40px;
}

.banner_p{
    background-color: #9D4EDD;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 0;
    text-transform: uppercase;
    font-size: 40px;
}

.cart{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    left: -40px;
}

.stepan{
    position: absolute;
    top: -20px;
    right: 0;
    background-color: #FFCD6B;
    color: black;
    padding: 2px 4px;
    border-radius: 4px;
}

.catalog{
    background-color: #FF8500;
    padding: 30px;
    border-top: 50px solid #CA761B;
}
.products{
    
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    width: 100%;
}

.product{
    border-radius: 7%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0);
    width: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: center;
    align-items: center;
    min-height: 325px;
    transition: 0.3s all ease;
}


.product:hover{
    box-shadow: inset 0px 0px 10px #000;
    transform: scale(0.98);
}

.product_img{
    background-color: #fff;
    width: 100%;
}

.product_name{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.product_oldp{
    font-size: 24px;
    font-weight: bold;
    text-decoration: line-through;
    color: gray;
    margin: 0;
}

.product_price{
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin: 0;
}



.catalog_title{
    font-size: 48px;
    text-align: center;
    margin-top: 0;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3C096C;
}

.pronas_title{
    font-size: 48px;
    text-align: center;
    margin-top: 0;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3C096C;
}

.pronas_text{
    font-size: 36px;
    color: #ffffff;
    text-align: center;
}

.pronas{
    background-color: #FF8500;
    border-top: 50px solid #CA761B;
}

.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding-top: 50px;
}

.contact_text{
    font-size: 35px;
    font-weight: bold;
}

.contact_title{
    font-size: 48px;
    text-align: center;
    margin-top: 0;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3C096C;
}

.contact_img{
    margin: 15px;
    width: 40px;
}

.footer_text{
    color: #FF8522;
    font-size: 40px;
    font-weight: bold;
}

.footer_title{
    font-size: 48px;
    text-align: center;
    margin-top: 0;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3C096C;
}
.footer_sponsors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.footer_div img{
    width: 100%;
}
.footer_div {
width: 20%;

}

#mikita{
max-width: 60%;
}

#lisi{
    height: 50%;
}

.baton{
    background-color: #9D4EDD;
    color: rgb(255, 255, 255);
    border-radius: 50% 20% / 10% 40%;
    font-size: 30px;
    padding: 10px 20px;
    font-family: 'Amatic SC';
    font-weight: 800;
    transition: 0.3s all ease;
    text-transform: uppercase;
    border-radius: 20px;
}


.baton:hover{
    background-color:   #3C096C;
    transform: scale(1.1);
}

.link{

    text-decoration: none;
}

.button{
    text-decoration: none;
}